#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

.box {
  margin: 2rem 0;
  aspect-ratio: 16/9;
}

.dv-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2em;
  gap: 2rem;
}
.dv-flex .dv-flex-content {
  max-width: 50vw;
  will-change: filter;
  transition: filter 300ms;
}
.dv-flex .dv-flex-content img {
  filter: drop-shadow(0 0 2em #000000);
  border-radius: 50%;
}
.dv-flex .dv-flex-content a {
  font-weight: 500;
  color: #ffffffde;
  text-decoration: inherit;
}
.dv-flex .dv-flex-content a:hover {
  filter: drop-shadow(0 0 1em #000000);
}
.dv-flex .dv-flex-content.react a:hover {
  filter: drop-shadow(0 0 1em #000000);
}

.btn-custom {
  color: #620275;
}