#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

.box {
  margin-top: 2rem;
  aspect-ratio: auto 16/9;
}

/* Content Div */
.dv-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2em;
  gap: 2rem;
}
.dv-flex .dv-flex-content {
  will-change: filter;
  transition: filter 300ms;
}
.dv-flex .dv-flex-content img {
  filter: drop-shadow(0 0 2em #000000);
  border-radius: 50%;
}
.dv-flex .dv-flex-content .dv-right {
  max-width: 50vw;
}
.dv-flex .dv-flex-content a {
  font-weight: 500;
  color: #ffffffde;
  text-decoration: inherit;
}
.dv-flex .dv-flex-content a:hover {
  filter: drop-shadow(0 0 1em #000000);
}
.dv-flex .dv-flex-content.react a:hover {
  filter: drop-shadow(0 0 1em #000000);
}

.btn-custom {
  color: #620275;
}

/* List Group (Skill) */
.list-skill-custom {
  color: #000000;
  width: min(60rem, 90%);
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  counter-reset: cardnr;
  justify-content: center;
}
.list-skill-custom li {
  --frontColor: white;
  --width: 10em;
  --inlineP: 0.5rem;
  --borderR: 4rem;
  --arrowW: 2rem;
  --arrowH: 1.5rem;

  counter-increment: cardnr;
  width: calc(var(--width) - var(--inlineP) * 2);
  display: grid;
  grid-template:
    "icon" var(--borderR)
    "title";
  margin-inline: var(--inlineP);
  margin-bottom: calc(var(--borderR));
  position: relative;
}
.list-skill-custom li .icon,
.list-skill-custom li .title {
  background: var(--frontColor);
  padding-inline: 1rem;
  padding-bottom: 1rem;
}
.list-skill-custom li .icon,
.list-skill-custom li .title {
  color: var(--accent-color);
  text-align: center;
  padding-bottom: 0.5rem;
}
.list-skill-custom li .title {
  filter: drop-shadow(0.125rem 0.125rem 0.075rem rgba(0, 0, 0, 0.25));
}
.list-skill-custom li .icon {
  grid-area: icon;
  font-size: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--borderR) 0 0 0;
  position: relative;
}
.list-skill-custom li .title {
  grid-area: title;
  font-size: 1.1rem;
  font-weight: bold;
}
.list-skill-custom li::after {
  content: counter(cardnr, decimal-leading-zero);
  position: absolute;
  z-index: -1;

  left: calc(var(--inlineP) * -1);
  right: calc(var(--inlineP) * -1);
  top: var(--borderR);
  bottom: calc(var(--borderR) * -1);

  display: flex;
  align-items: flex-end;
  background: var(--accent-color);
  background-image: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0.25),
    transparent 25% 75%,
    rgba(0, 0, 0, 0.25)
  );
  border-radius: 0 0 var(--borderR) 0;

  --pad: 1rem;
  padding: var(--pad);
  font-size: calc(var(--borderR) - var(--pad) * 2);
  color: white;
}
.list-skill-custom li::before {
  content: "";
  position: absolute;
  height: var(--borderR);
  top: calc(100% + var(--borderR) - 2px);
  left: calc(var(--inlineP) * -1);
  right: calc(var(--inlineP) * -1);
  border-radius: 0 var(--borderR) 0 0;

  background-image: linear-gradient(var(--accent-color), transparent 60%);
  opacity: 0.5;
  filter: blur(2px);
}
/* 12 Colours matching with background */
.list-skill-code1 {
  --accent-color:#0d0008;
}
.list-skill-code2 {
  --accent-color:#20051a;
}
.list-skill-code3 {
  --accent-color:#2d062b;
}
.list-skill-code4 {
  --accent-color:#39033e;
}
.list-skill-code5 {
  --accent-color:#430055;
}
.list-skill-code6 {
  --accent-color:#442177;
}
.list-skill-code7 {
  --accent-color:#393c99;
}
.list-skill-code8 {
  --accent-color:#0056bb;
}
.list-skill-code9 {
  --accent-color:#0083dc;
}
.list-skill-code10 {
  --accent-color:#00aeec;
}
.list-skill-code11 {
  --accent-color:#00d5f1;
}
.list-skill-code12 {
  --accent-color:#5ffbf1;
}