:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, purple, blue);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

.dv-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2em;
}
.dv-flex .dv-flex-content {
  padding: 2em;
  will-change: filter;
  transition: filter 300ms;
}
.dv-flex .dv-flex-content:hover {
  filter: drop-shadow(0 0 2em #000000);
}
.dv-flex .dv-flex-content.react:hover {
  filter: drop-shadow(0 0 2em #000000);
}
.dv-flex .dv-flex-content a {
  font-weight: 500;
  color: #ffffffde;
  text-decoration: inherit;
}
.dv-flex .dv-flex-content a:hover {
  color: #ffffffde;
}