:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: -webkit-linear-gradient(to right top, #0d0008, #20051a, #2d062b, #39033e, #430055, #442177, #393c99, #0056bb, #0083dc, #00aeec, #00d5f1, #5ffbf1); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right top, #0d0008, #20051a, #2d062b, #39033e, #430055, #442177, #393c99, #0056bb, #0083dc, #00aeec, #00d5f1, #5ffbf1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body::-webkit-scrollbar {
  width: .5rem;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #00d5f1; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}